// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.row.custom.page-header {
  margin: 0px;

  .btn {
    margin-top: 25px;
    margin-bottom: 5px
  }
}

body {
  font-size: 16px;
}

.btn {
  font-size: 16px;
}

.navbar-brand {
  a {
    font-size: 20px;
  }
}

.cke_editable p {
  font-size: 26px;
}

.form_resie {
  width: 90%;


  .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
  }
}

div.small {
  font-size: 12px;
  a {
    font-size: 12px;
  }
}
