// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.row.custom.page-header {
  margin: 0px;

  .btn {
    margin-top: 25px;
    margin-bottom: 5px
  }
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
margin-top: 0;
}

.bs-callout p:last-child {
margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}

.bs-callout-common {
  border-left-color: #f0ad4e;
}

.bs-callout-common h4,
.bs-callout-common a.alert-link {
  color: #400000;
}

.bs-callout-admin {
  border-left-color: #1919FF;
}

.bs-callout-admin h4,
.bs-callout-admin a.alert-link {
  color: #0000A3;
}

.bs-callout-top {
  border-left-color: #00FF00;
}

.bs-callout-top h4,
.bs-callout-top a.alert-link {
  color: #008000;
}

.bs-callout a.alert-link {
  font-weight: bold;
}