.margin-left-gap {
  margin-left: 10px;
  span {
    margin-right: 5px;
  }
}

.nav.nav-tabs.nav-padding-left {
  padding-left: 30px;
}

.row.post-list {
  padding-top: 4%;

  .popover {
    display: block;
    max-width: 100%;
    position: static;

    .popover-title {
      padding: 2% 3%;

      h2 {
        margin-top: 5px;
        margin-bottom: 25px;

        a {
          color: black;
        }
      }
    }

    .popover-content {
      padding: 2% 3%;

      a {
        color: black;
      }
    }
  }
}

.post-show {
  .post-title {
    padding: 2% 3%;

    h2 {
      margin-top: 5px;
      margin-bottom: 25px;
    }
  }

  .post-content {
    padding: 2% 3%;
  }
}