.margin-left-gap {
  margin-left: 10px;
  span {
    margin-left: 5px;
  }
}

.nav.nav-tabs.nav-padding-left {
  padding-left: 30px;
}

.post-list {
  background-color: #F5F5F5;
  padding: 10px 20px 20px 20px;
  margin: 20px;
}

.association.checkbox-inline {
  vertical-align: baseline;
}